:root {
  --main-color: #03a9f4;
}

body {
  /* font-family: Tahoma, Arial, sans-serif; */
  font-family: "Cairo", sans-serif;
}
*::selection {
  color: white;
  background: brown;
}
a {
  text-decoration: none;
}

.name-section {
  position: relative;
  font-size: 50px;
  width: fit-content;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
  margin: 30px auto;
  padding: 10px 15px;
  cursor: default;
}

@media (max-width: 780px) {
  .name-section {
    font-size: 35px;
  }
}

@media (max-width: 430px) {
  .name-section {
    font-size: 30px;
  }
}

.site-content,
.tips-content,
.code-editor-content,
.channel-boxs {
  background-color: #eee;
  padding: 50px 20px;
  box-shadow: 10px 20px 20px 0px #0000002b, -9px -3px 20px 0px #0000002b;
}

main {
  background-color: #eee;
  padding: 20px;
  height: 50vh;
}

.main-description {
  margin: 40px auto;
  text-align: center;
}

.main-description .name-path {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
  border: 1px solid rgba(0, 0, 0, 0.342);
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
}

.main-description .path-description {
  color: rgba(27, 27, 27, 0.74);
  margin: 30px 0;
  font-weight: bold;
}

.section-lang {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-path {
  background-color: #eee;
  margin: 20px 0;
  box-shadow: 3px 11px 20px 0px #3030302b, 6px 2px 20px 0px #ababab2b;
}

.main-path::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 94%;
  background-color: var(--main-color);
  left: 50%;
  top: 2%;
  margin-left: -1px;
}

.main-path::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: 50%;
  top: 2%;
  margin-left: -5px;
}

.main-path .left,
.main-path .right {
  width: calc(50% - 45px);
  background-color: white;
  position: relative;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0px 20px 14px 2px #e3e3e3;
}

.main-path .left > p > strong,
.main-path .right > p > strong {
  color: #f00;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-path .left,
  .main-path .right {
    width: calc(100% - 40px);
    box-shadow: none;
  }

  .main-path .left::before,
  .main-path .right::before {
    display: none;
  }

  .main-path::after {
    display: none;
  }
}

.main-path .left::before,
.main-path .right::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-path .left::before {
  right: -35px;
}
.main-path .right::before {
  left: -35px;
}
.main-path .left:hover::before,
.main-path .right:hover::before {
  background-color: var(--main-color);
}
.main-path .left {
  float: left;
  margin-left: 20px;
}

.main-path .right {
  float: right;
  margin-right: 20px;
}
.clearfix {
  clear: both;
}

.main-path .lang {
  color: var(--main-color);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100px 0px 100px 0px;
  background-color: #2b63b7 !important;
}

footer {
  padding: 13.5px;
  background-color: #1f2750 !important;
}
footer .text {
  letter-spacing: 1px;
  font-size: 20px;
}
/* Channe  */

.channel-box {
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid rgba(170, 170, 170, 0.479);
}
.channel-box:hover {
  transition: 0.5s;
  transform: translateY(-5px);
}

.channel-box > img {
  border-radius: 50%;
}

.books {
  padding-top: 50px;
  padding-bottom: 50px;
}

.filte-books > div {
  min-width: 100px;
  text-align: center;
  color: black;
  background-color: #eee;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.7px;
  transition: 0.5s background-color;
}
.filte-books > div.active,
.filte-books > div:hover {
  background-color: #084298;
  color: #fff;
}

.books .main-box-books {
  background-color: #eee;
  box-shadow: 10px 20px 20px 0px #0000002b, -9px -3px 20px 0px #0000002b;
}

.books .main-box-books .book {
  /* border: 10px solid rgb(83, 83, 83); */
  text-align: center;
  margin-bottom: 25px;
}

.books .main-box-books .img-book {
  max-width: 100%;
  height: 70%;
  border-radius: 4px;
}

@media (max-width: 575px) {
  .books .main-box-books .img-book {
    max-width: 75%;
  }
}

.books .main-box-books .download {
  margin: 30px 0;
}

.books .main-box-books .download-book {
  border: 1px solid #fff;
  background-color: #03a9f4;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}
.books .main-box-books .download-book > i {
  margin: 0 10px;
}

.code-editor-content .box-define {
  background-color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  margin: 15px 0;
}

.code-editor-content .box-define > span {
  color: var(--main-color);
  font-weight: bold;
}

.code-editor-content .box-define > strong {
  color: #f00;
}

.code-editor-content .box-editor {
  background-color: #fff;
  margin: 20px 0;
  padding: 20px 30px;
  opacity: 0.7;
}

.code-editor-content .box-editor:hover {
  opacity: 1;
}

.code-editor-content .box-editor.active {
  opacity: 1;
}

.code-editor-content .name-editor {
  color: var(--main-color);
  font-weight: bold;
}
.code-editor-content .box-editor > a {
  display: block;
  width: fit-content;
  margin: 10px 0;
}

.site-content .benefit-site {
  padding: 15px 20px;
  background-color: #fff;
  font-weight: 500;
}

.site-content .benefit-site > strong {
  color: #f00;
}

.site-content .box-site {
  padding: 10px 20px;
  background-color: #fff;
  margin: 20px 0;
}

.site-content .box-site .name-site {
  color: var(--main-color);
  font-weight: 600;
}

.site-content .box-site .description-site {
  margin: 10px 0;
}

.site-content .box-site .go-site {
  display: block;
  width: fit-content;
  margin: 10px 0;
}

.intro-content {
  box-shadow: 10px 20px 20px 0px #0000001e, -9px -3px 20px 0px #0000001e;
  background-color: #eee;
}

.intro-box .title-box {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 0px 100px 0px 100px;
}
.intro-box .text-box {
  margin-top: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.intro-box .text-box > strong {
  color: red;
  font-weight: bold;
  letter-spacing: 0.9px;
}

.box-tips .question::before {
  content: "+";
  top: 50%;
  left: 20px;
}

.box-tips .question::before,
.box-tips .question.active::before {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  line-height: 27px;
  transform: translateY(-50%);
}

.box-tips .question.active::before {
  content: "-";
  top: 20%;
  left: 20px;
}

@media (max-width: 600px) {
  .box-tips .question {
    font-size: 20px !important;
  }

  .box-tips .question.active::before {
    top: 10%;
    left: 20px;
    transform: translateY(-10%);
  }
}
@media (max-width: 400px) {
  .box-tips .question {
    font-size: 18px !important;
  }
  .box-tips .question::before {
    left: 10px;
    top: 50%;
  }
  .box-tips .question.active::before {
    left: 10px;
    top: 5%;
  }
}

.tips-content {
  min-height: 680px;
}

.box-tips .question {
  cursor: pointer;
}

.box-tips .solving {
  height: 0;
}

.box-tips .question.active + .solving {
  height: fit-content;
}

.scroll-btn {
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transition: 0.3s opacity;
  cursor: pointer;
}

@media (max-width: 600px) {
  .scroll-btn {
    right: 5px;
  }
}

.nav-bullets {
  right: 10px;
  width: 40px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .nav-bullets {
    display: none;
  }
}

.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #03a9f4;
  right: 0;
  margin: 20px auto;
  z-index: 1000;
  cursor: pointer;
}
.nav-bullets .bullet:hover {
  background-color: #03a9f4 !important;
}

.nav-bullets .bullet:hover .tooltip-bullet {
  display: block;
}

.nav-bullets .bullet .tooltip-bullet {
  background-color: #03a9f4;
  right: 35px;
  width: 100px;
  padding: 5px 10px;
  top: -10px;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip-bullet::before {
  content: "";
  position: absolute;
  border: 18px solid;
  border-color: transparent transparent transparent #03a9f4;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}
